@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

.nav {
    background-color: black;
    text-decoration: none;
    color: white;
    display: flex;
    margin-bottom: 10px;
}

.nav ul {
    overflow: auto;
    text-align: right;
    width: 100vw;
    display: flex;
    flex-flow: row, wrap;
    justify-content: flex-end;
}

.nav li {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    float:left;
    list-style: none;
    margin: 13px 20px; 
}

.nav li a:not(.active) {
    text-decoration: none;
    color: white;
    padding: 14px 10px;
    text-align: center;
}

.nav li a:hover:not(.active){
    background-color: grey;
    transition: 1s;
}

.active{
    color: rgb(206, 206, 206);
    text-decoration: underline;
    pointer-events: none;
}

body {
    background-color: black;
}

input {
    width: 800px;
    height: 30px;
}

 #home {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
} 
#home button {
    max-width: 100px;
    min-width: 50px;
    min-height: 25px;
    background-color: rgba(255,87,34,255);
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: 180%;
    transition: transform .2s;
}

button:hover{
    background-color: rgba(255,87,34,255);
    color: whitesmoke;
    transform: scale(1.5);
}

section {
    background-color: grey;
    min-height: 78vh;
    min-width: 90vw;
    text-align: center;
}
label, input {
    position: relative;
    display: block;
    padding-right: 76px;
    width: 200px;
    box-sizing: border-box;
}

label::after {
    position: absolute;
    top: 4px;
    left: 96px;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    display: block;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
}

footer {
    background-color: black;
    color: white;
    text-align: right;
}

h3 {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
}

h5 {
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    text-align: center;
    font-size: 18px;
}

ul {
    list-style: none;
    font-size: 18px;
}

#buttoncontainer {
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: larger;
    color: #DDDDDD;
    flex-wrap: wrap;
}

.buttons {
    width: 300px;
    height: 300px;
    background-color: #333333;
    margin: 5%;
    transition: 0.5s;
}

.buttons:hover {
    background-color: rgba(255,87,34,255);
}

.buttons, h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gamemode {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
}

#mode {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
}

#playerScore {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    color: white;
    margin: 0;
    float: left;
    margin-left: 180px;
}

#computerScore {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    color: white;
    margin: 0;
    text-align: right;
    margin-right: 180px;
}

@media only screen and (max-width: 600px) {
    .buttons {
        width: 150px;
        height: 100px;
        background-color: #333333;
        margin: 5%;
    
    }
    
    .buttons:hover {
        background-color: rgba(255,87,34,255);
    }

    .gif {
        height: 200px;
    }
    
  }